/* Imported _variables.scss */
$bgColour: rgb(20%,20%,20%);
$primaryColour: rgb(0%,0%,100%);
$primaryLight: scale-color($primaryColour, $lightness: 50%);
$primaryDark: scale-color($primaryColour, $lightness: -50%);
$accentColour: complement($primaryColour);